<!DOCTYPE html>
<html>
  <head>
    <title>Minishop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">

  </head>

  <body class="mx-auto px-10 max-w-7xl">
    <header class="border-b border-palette-lighter sticky top-0 z-20 bg-white">
      <div class="flex items-center justify-between mx-auto max-w-6xl pb-2 pt-4 md:pt-6">
        <a class=" cursor-pointer" href="/">
          <h1 class="flex no-underline">
            <span class="text-xl font-primary font-bold tracking-tight pt-1">Minishop</span>
          </h1>
        </a>
        <div>
          <% if user_signed_in? %>
            <div class="group block flex-shrink-0">
              <div class="flex items-center text-sm font-medium text-gray-700 group-hover:text-gray-900">
                <div>
                  <%= render partial: "shared/user_photo", locals: { user: current_user } %>
                </div>
              </div>
            </div>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </header>

    <main>
      <div class="mx-auto max-w-6xl py-12 mx-auto">
        <div id="flash">
          <%= render "shared/flash" %>
        </div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>












